.top-header {
    width: 100%;
    height: 100px;

    >.advice {
        >a {
            >strong {
                color: white;
                font-weight: bolder;
            }

            color:#fff;
            font-family: Arial,
            "Helvetica Neue",
            Helvetica,
            sans-serif;
        }

        height: 50%;
        width: 100%;
        background-color: rgb(2, 2, 25);
        display: flex;
        justify-content: start;
        padding-left: 20px;
        padding-top: 10px;
        position: relative;

        &:hover>.anime {
            animation-play-state: paused;
        }

        >.anime {
            width: 120%;
            height: 2px;
            background-color: white;
            animation: anime1 7s linear infinite 1s;
            transform: translateX(-100%);
        }

        @keyframes anime1 {
            from {
                transform: translateX(-100%);
            }

            to {
                transform: translateX(100%);

            }
        }
    }

    >.top-info {
        height: 50%;
        width: 100%;
        transition: .5s;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;



        >.first {
            width: 70%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;

            >a {
                color: black;
                transition: .5s;
                font-size: 20px;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

                &:hover {
                    color: rgb(206, 13, 13);

                }
            }

        }

        >.icon {
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;

            >a {
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-size: 25px;

            }

            >a:nth-last-of-type(1) {
                transition: .5s;
                color: red;

                &:hover {
                    color: #7e0a1a;
                }
            }

            >a:nth-last-of-type(2) {
                transition: .5s;
                color: plum;

                &:hover {
                    color: purple;
                }
            }

            >a:nth-last-of-type(3) {
                transition: .5s;
                color: black;

                &:hover {
                    color: darkgray;
                }
            }
        }
    }
}

.divider {
    width: 100%;
    height: 1px;
    background-color: darkgray;
    margin-top: 20px;
}

.menu {
    width: 100%;
    background-color: white;
    height: 120px;

    >.logo-top {
        width: 15%;
        height: 100%;
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;

        >img {
            object-fit: cover;
            height: 80px;
            padding-left: 30px;
            cursor: pointer;

        }
    }

    >nav {
        height: 80%;
        width: 60%;
        // border: 1px solid blue;

        >ul {
            // background-color: red;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            width: 100%;

            >li {
                // background-color: red;
                height: 100%;
                // width: 100%;
                padding: 10px;
                display: flex;
                flex-grow: 1;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;

                >a {
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    color: #000;
                    height: 100%;
                    font-size: 20px;
                    text-transform: capitalize;
                    transform: translateY(25px);
                    // transition: .3s;

                    &:hover {
                        color: #b80921;
                    }

                }

                >.sub {
                    height: 50px;
                    width: 200px;
                    background-color: white;
                    transition: .5s;
                    border: 1px solid rgba(0, 0, 0, 0.316);
                    opacity: 0;
                    visibility: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 100%;
                    left: 25%;
                    border-radius: 4px;




                    >li {
                        background-color: white;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;



                        >a {
                            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                            color: black;
                            text-transform: capitalize;
                            font-weight: bolder;
                            height: 100%;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            filter: brightness(100%);
                            // position: absolute;
                        }

                        &:hover {
                            background-color: #b80921;
                            flex-wrap: wrap;

                            flex-grow: 1;

                            >a {
                                color: white;



                            }
                        }
                    }
                }

                &:hover {
                    .sub {
                        opacity: 1;
                        top: 80px;
                        visibility: visible;

                    }
                }


                &:nth-of-type(1)>a {
                    color: #b80921;
                }
            }
        }
    }

    .call {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 60px;
        background-color: #b80921;
        border-radius: 25px;
        margin-left: 50px;
        margin-top: 20px;
        transition: .8s;

        >a {
            color: #fff;
            font-weight: bolder;
            width: 100%;
            height: 100%;
            text-align: center !important;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        &:hover {
            background-color: blue;
        }

    }
}

.top-dreams {
    width: 100%;
    height: 70vh;
    background-image: url(../image/hero-image-car-dealership.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    >img {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.489), rgba(2, 2, 53, 0.281));
        object-fit: cover;
        height: 100%;
        transform: scaleX(150%);
        // transform: translateX(-40%);
    }

    >.bg-details {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-300px, -300px);
        z-index: 999;
        // background-color: red;
        width: 600px;

        >h1 {
            font-size: 60px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            color: #fff;
            text-transform: capitalize;
            width: 100%;
            transform: translateX(50px);
            text-align: center;
        }

        >p {
            text-transform: capitalize;
            font-size: 30px;
            color: #fff;
            width: 80%;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        }

        >.search {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 240px;
            height: 50px;
            background-color: #b80921;
            transition: .6s;
            margin-right: 30px;
            transform: translateY(20px);

            a {
                width: 100%;
                height: 100%;
                text-transform: uppercase;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:hover {
                background-color: blue;

            }
        }

        >.learn {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .6s;
            width: 240px;
            height: 50px;
            background-color: #fff;
            transform: translateY(20px);

            >a {
                width: 100%;
                height: 100%;
                text-transform: uppercase;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                color: #000;
                transition: .6s;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    color: #fff;
                }
            }

            &:hover {
                background-color: blue;
            }
        }
    }
}

.extensive {
    width: 100%;
    height: 90vh;
    background-color: #fff;

    >.search-form {
        width: 90%;
        height: 250px;
        transform: translate(-100px, -50px);
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        flex-wrap: wrap;
        border: 1px solid rgba(0, 0, 0, 0.242);
        margin-left: 200px;

        >h2 {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 35px;
            color: #000;
            transform: translate(60%);
            text-transform: capitalize;

            // background-color: #7e0a1a;
            >i {
                color: #b80921;
            }
        }

        >.car-brand {
            width: 240px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            // flex-grow: 1;
            margin-right: 30px;
            border: 1px solid black;
            transform: translate(-400px, 100px);

            >input {
                height: 100%;
                width: 100%;
            }
        }

        >.all-cars {
            width: 240px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            // flex-grow: 1;
            margin-right: 30px;
            border: 1px solid black;
            transform: translate(-400px, 100px);

            >select {
                height: 100%;
                width: 100%;
                color: rgba(0, 0, 0, 0.532);
            }
        }

        >.cars-model {
            width: 240px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            // flex-grow: 1;
            margin-right: 30px;
            border: 1px solid black;
            transform: translate(-400px, 100px);

            >select {
                height: 100%;
                width: 100%;
                color: rgba(0, 0, 0, 0.532);
            }
        }

        >.btn-search {
            width: 240px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            background-color: #b80921;
            transition: .8s;
            border: 1px solid black;
            transform: translate(400px, -25px);

            >a {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                text-transform: capitalize;
                height: 100%;
                width: 100%;
            }

            &:hover {
                background-color: blue;

            }
        }
    }

    >.service {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 60%;
        width: 100%;
        flex-grow: 1;
        flex-wrap: wrap;

        // border: 1px solid black;
        >div {
            height: 100%;
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateX(50px);

            >.seperator {
                object-fit: cover;
                transform: translate(-150px, 120px);
            }

            &:nth-of-type(1)>.services-row {
                height: 180px;
            }

            &:nth-of-type(3)>.services-row {
                height: 180px;
            }

            // background-color: red;
            >.services-row {
                height: 50%;
                object-fit: cover;
                transform: translateY(-20px);
                // border: 1px solid blue;

                &:hover {
                    filter: invert(50%);
                }
            }

            >h2 {
                text-align: center;
                text-transform: capitalize;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                transform: translate(-100px, 30px);
            }

            >p {
                text-transform: capitalize;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

            }
        }
    }
}

.logos {
    width: 100%;
    height: 130vh;
    background: linear-gradient(to right, darkblue, rgb(2, 2, 58), rgb(41, 29, 86));
    display: flex;
    justify-content: center;
    align-items: center;

    >.top-logo {
        width: 950px;
        height: 105px;
        display: flex;
        justify-content: center;
        align-items: center;
        // transform: translateY(-100px);

        >img {
            object-fit: cover;
            height: 33px;
            width: 80px;
        }

        >h2 {
            text-transform: capitalize;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            color: #fff;
            font-size: 50px;
            transform: translate(150px, 30px);
            width: 100%;
        }

        >p {
            color: #fff;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            text-align: center;
            transform: translateY(60px);
            font-size: 20px;
        }
    }

    >.logo-menu {
        width: 600px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: red;
        flex-grow: 1;
        flex-wrap: wrap;
        // padding:0 100px;

        >ul {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            // background-color: blue;
            // border: 1px solid white;
            width: 100%;
            transform: translateY(-100px);
            padding: 150px;

            >li {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100px;
                height: 100px;
                border: 1px solid rgba(255, 255, 255, 0.325);
                // transform: translateY(-200px);
                padding: 130px;
                // margin-top: 10px ;

                img {
                    display: flex;
                    align-items: center;
                    filter: brightness(20%);
                    cursor: pointer;
                    object-fit: cover;
                    width: 900px;
                    height: 120px;
                    transition: .5s;

                    &:hover {
                        filter: brightness(90%);
                    }
                }
            }
        }
    }
}

.latest {
    width: 100%;
    height: 250vh;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: white;
    margin-top: 60px;

    >.inventory-top {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: #b80921;

        >h2 {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            color: #000;
            text-transform: capitalize;
            font-size: 45px;
            font-weight: bolder;
        }

        >p {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            color: #000;
            text-transform: capitalize;
            font-size: 20px;
            width: 600px;
            text-align: right;
            // background-color: blue;
            transform: translateX(100px);
        }

        >img {
            object-fit: cover;
            transform: translate(-900px, 70px);
            width: 100px;
        }
    }

    >.list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 80%;
        transform: translateY(-30px);

        // background-color: red;
        >.car-details {
            width: 400px;
            height: 700px;
            display: flex;
            justify-content: center;

            // background-color: #7e0a1a;
            >figure {
                width: 100%;
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                cursor: pointer;


                >img {
                    object-fit: cover;
                    height: 300px;
                    width: 100%;
                }

                    &:hover>figcaption {
                        top: 100px;
                        opacity: 1;
                    }
                

                >figcaption {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 300px;
                    background-color: rgba(0, 0, 255, 0.49);
                    position: absolute;
                    bottom: -200px;
                    width: 100%;
                    transform: 3s;
                    opacity: 0;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    font-size: 20px;
                    color: #fff;
                }
            }

            >.car-info {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 300px;
                width: 100%;
                // background-color: red;
                transform: translateY(-120px);


                >.car-title {
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    font-size: 25px;
                    color: #000;
                    // background-color: red;
                }

                >.name {
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    font-size: 18px;
                    color: #000;
                }

                >.detail-seprator {
                    width: 100%;
                    height: 1px;
                    background-color: #000;
                }

                >.car-price {
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    color: #2f2f2f;

                    >strong {
                        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                        color: #b80921;
                        font-size: 30px;
                        transform: translateY(-10px);
                    }
                }
            }
        }
    }

    .view-btn {

        height: 70px;
        width: 180px;
        border: 1px solid black;
        position: relative;

        // background-color: red;
        cursor: pointer;
        text-align: center;
        color: #000;
        font-size: 20px;
        transition: .6s;
        text-transform: capitalize;

        // background-color: blue;


        &:hover {
            background-color: blue;
            color: #fff;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

.why {
    height: 110vh;
    width: 100%;
    background: linear-gradient(to right, rgba(1, 1, 23, 0.626), rgb(5, 5, 96)), url(../image/dark-content-bg-car1.png);
    display: flex;
    justify-content: center;
    align-items: center;

    >.why-choose {
        display: flex;
        justify-content: center;
        align-items: start;
        height: 300px;
        flex-wrap: wrap;
        width: 600px;
        // background-color: red;
        // transform: translateY(-100px);

        >img {
            object-fit: cover;
            width: 80px;
            height: 30px;
            transform: translateY(40px);
        }

        >h2 {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            color: #fff;
            font-size: 55px;
            width: 100%;
        }

        >p {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            color: #fff;
            font-size: 18px;
            transform: translateY(-30px);
        }
    }

    >.why-goals {
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 500px;
        align-items: center;
        // background-color: #7e0a1a;
        transform: translateY(-60px);

        >.why-items {
            display: flex;
            justify-content: space-evenly;
            align-items: start;
            width: 40%;
            height: 50px;
            // background-color: blue;

            >h3 {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-size: 30px;
                text-transform: capitalize;
                transition: .5s;
                // width: 100%;

                &:hover {
                    color: blue;
                }

                &:hover>div {
                    background-color: blue;
                }

                >div {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    transform: translateX(-20px);
                    transition: .5s;
                    background-color: #b80921;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    >i {
                        color: #fff;
                        font-size: 20px;
                    }
                }
            }

            >p {
                color: #fff;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-size: 20px;
                transform: translateY(40px);

            }
        }
    }
}

.dealer {
    width: 100%;
    background-color: white;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: start;

    >.dealer-top {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: start;
        align-items: center;
        // border: 1px solid black;
        transform: translateY(80px);

        >h2 {
            color: #000;
            text-transform: capitalize;
            font-size: 40px;
            transform: translateX(80px);
            // width: 100px;

        }

        >img {
            object-fit: cover;
            height: 15px;
            width: 120px;
            transform: translate(-900px, 80px);
        }

        >p {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            color: #00000074;
            width: 700px;
            font-size: 20px;
            transform: translateX(500px);
        }
    }

    >.locations {
        height: 500px;
        width: 50%;
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        align-items: start;
        // background-color: red;
        transform: translate(50px, 50px);

        >h3 {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            color: #000;
            font-weight: bold;
            font-size: 30px;
        }

        >ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            // background-color: blue;
            width: 620px;
            height: 400px;

            >li {
                // background-color: red;
                padding-left: 60px;
                flex-grow: 1;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                color: #000;
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:nth-of-type(19) {
                    // background-color: #2f2f2f;

                    transform: translateX(-190px);
                }

                >i {
                    color: #b80921;
                }
            }
        }
    }

    >.map {
        object-fit: cover;
        width: 700px;
        height: 450px;
        transform: translateY(130px);
    }
}

.reviews {
    width: 100%;
    height: 90vh;
    margin-top: 100px;

    >.top-reviews {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        border-top: 1px solid rgba(0, 0, 0, 0.311);
        box-shadow: 1px 1px 10px 10px rgba(128, 128, 128, 0.195);

        >img {
            object-fit: cover;
            transform: translateX(-100px);
            width: 130px;
        }

        >p {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            color: #000;
            text-transform: capitalize;
            font-size: 24px;
        }
    }

    >.main-reviews {
        width: 100%;
        height: 480px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        >div {
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;
            width: 33.3%;
            height: 480px;
            filter: brightness(96%);

            >img {
                object-fit: cover;
                width: 80px;
                height: 30px;
                transform: translateX(-140px)
            }

            >h3 {
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-size: 40px;
                color: #fff;
                width: 88%;
                font-weight: bold;
            }

            >p {
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-size: 20px;
                color: #fff;
                width: 100%;
                transform: translate(20px, -50px);
            }

            >.review-btn {
                width: 200px;
                height: 70px;
                border: 1px solid white;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                color: #fff;
                font-weight: bolder;
                transform: translate(-80px, -80px);
                transition: .6s;

                &:hover {
                    background-color: white;
                    color: #000;
                }
            }

            &:nth-of-type(1) {
                background-image: url('../image/car-test-drive-banner.jpg');

            }

            &:nth-of-type(2) {
                background-image: url('../image/car-service-banner.jpg');
            }

            &:nth-of-type(3) {
                background-image: url('../image/trade-in-banner.jpg');
            }
        }
    }
}

.auto-world {
    width: 100%;
    height: 160vh;
    background-color: #fff;

    >.auto-world-top {
        width: 100%;
        height: 200px;
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        // border: 1px solid black;
        >h2 {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 40px;
        }

        >p {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 20px;
            width: 45%;
            transform: translateX(200px);
        }

        >img {
            object-fit: cover;
            width: 100px;
            transform: translate(-1000px, 70px);
        }
    }

    >.auto-sec {
        display: flex;
        justify-content: space-evenly;

        >.auto-items {
            width: 35%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translate(100px, -200px);

            >figure {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                cursor: pointer;

                >img {
                    object-fit: cover;
                    width: 640px;
                }

                &:hover>figcaption {
                    top: 0px;
                    opacity: 1;
                }

                >figcaption {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 405px;
                    background-color: rgba(0, 0, 255, 0.49);
                    position: absolute;
                    // bottom: -200px;
                    width: 100%;
                    transition: .7s;
                    opacity: 0;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    font-size: 40px;
                    color: #fff;
                }

            }

            >.auto-info {
                display: flex;
                justify-content: start;
                align-items: center;
                margin-top: 40px;

                >h3 {
                    font-size: 30px;
                    color: #000;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

                }

                >span {
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    color: blue;
                    text-transform: capitalize;
                    margin-top: 20px;


                    >a {
                        color: blue;
                        transition: .6s;

                        &:hover {
                            color: #b80921;

                        }
                    }
                }

                >p {
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    color: #000;
                    font-size: 18px;
                    margin-top: 20px;

                }

                >a {
                    font-weight: bolder;
                    color: #7e0a1a;
                    transition: .6s;
                    font-size: 18px;
                    margin-top: 30px;

                    &:hover {
                        color: blue;
                    }
                }
            }
        }
    }
}

.trusted {
    background-color: white;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;

    >.experience {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        background: linear-gradient(to right, rgb(10, 10, 180), rgb(0, 51, 255));
        transform: translateY(30px);

        >h3 {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            color: #fff;
            font-size: 30px;
        }

        >ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transform: translate(200px, 30px);

            >li {
                color: #fff;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                width: 600px;
                margin-top: 10px;
            }
        }

        >p {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            text-transform: capitalize;
            color: #fff;
            width: 100%;
            transform: translate(260px, -70px);
            // margin-left: 200px;
        }

        >.start-btn {
            width: 180px;
            height: 60px;
            background-color: #b80921;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: #fff;
            text-transform: capitalize;
            transition: .6s;
            font-size: 20px;
            transform: translate(-300px, -60px);

            &:hover {
                background-color: #000;
            }
        }
    }
}

footer {
    width: 100%;
    height: 80vh;
    background: linear-gradient(to right, rgb(1, 20, 36), rgb(15, 15, 44));
    display: flex;
    justify-content: center;
    align-items: center;

    >.social {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100px;
        transform: translate(-70px , 50px);

        >h2 {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            color: #fff;
            font-size: 30px;
        }

        >img {
            object-fit: cover;
            width: 120px;
            cursor: pointer;
        }

        >p {
            font-size: 30px;

            >a {
                color: #fff;
                transition: .8s;
                &:hover{
                    color: gray;
                }
            }
        }
    }
    >.footer-seprator{
        width: 70%;
        height: 1px;
        background-color: #ffffff5f;
    }
    >ul{
        display: flex;
        justify-content:space-evenly ;
        width: 90%;
        // height: 100px;
        align-items: center;
        >li{
            color: #fff;
            font-size: 20px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            text-transform: capitalize;
            cursor: pointer;
            transition: .6s;
            &:hover{
                color: #b80921;
            }
        }
    }
    >.final{
        color: #fff;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        >strong{
            color: #b80921;
        }
    }
}